@import url("./index.css");

.std-button {
  background-color: var(--btn-color);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.2s;
  cursor: pointer;
}

.std-button:hover {
    background-color: var(--btn-color-hover);
    scale: 105%;
}
