
.add-item, .rem-item, .text-item {
  background-color: inherit;
  border: none;
  padding: 0.4rem;
  text-align: center;
  color: rgb(233 30 99);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 1rem;
  border: solid 2px currentColor;
}

.text-item {
  border: none;
}

.bottom-line {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.rem-item.item-icon, .edit-item.item-icon {
  border: none;
  margin: 0;
  padding: 0;
}

.add-item.item-icon {
  border: none;
  color: rgb(255 131 140);
  background-color: none;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  font-size: 1.5rem;
}

